.footer_container{
    display: flex;
    flex-direction: row;
}
.footer_container .studio {
    width: 5%;
    margin-top: 3%;
    margin-left: 45%;
}
.studio img{
    width: 100%;
}
.catalog_link{
    margin-top: 3%;
    margin-left: 2%;
}
.catalog_link a{
    text-decoration: none;
    font-family: var(--font-family);
    color: #48ec4e;
    font-size: 40px;
}
.divider{
    margin-top: 3%;
    background: #c5c2c2;
    height: 50px;
    width: 1px;
}
.icon{
    color: #48ec4e;
    width: 30px;
    height: 30px;
    margin-top: 4%
  }